.banner {
  @include background-cover;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: white;
  position: relative;
  .screenshot {
    max-width: 450px;
    margin-bottom: 50px;
  }
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px #000;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
      span {
        width: 100%;
      }
    }
  }
  @media(min-width:768px) {
    .intro-text {
      padding-top: 150px;
      padding-bottom: 50px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 700;
        font-size: 68px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}
