.video-box {
  position: absolute;
  bottom: 10px;
  font-size: 10em;
  text-shadow: 0 0 14px #000;
  left: 50%;
  margin: 0 0 0 -60px;
  color: #fff;
  line-height: 1em;
  &:active,
  &:focus,
  &:hover {
    color: #f3f3f3;
    text-shadow: 0 0 25px #000;
    cursor: pointer;
  }
}
