{{> layout_header}}

<section>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><i class="fa fa-unlink"></i></h1>
            <h1>404</h1>
            <h2>Not Found</h2>
            <p>Sorry!</p>
            <a href="/index.html">Go to main page</a>
        </div>
    </div>
</section>

{{> layout_footer}}
