body {
  overflow-x: hidden;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #02afb6; }
  a a:hover,
  a a:focus,
  a a:active,
  a a.active {
    color: #017e84;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700; }

p {
  font-size: 14px;
  line-height: 1.75; }
  p.large {
    font-size: 16px; }

.img-centered {
  margin: 0 auto; }

.btn-primary {
  color: white;
  background-color: #02afb6;
  border-color: #02afb6;
  font-weight: 700; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
  .btn-primary .open .dropdown-toggle {
    color: white;
    background-color: #017e84;
    border-color: #017579; }
  .btn-primary:active, .btn-primary.active,
  .btn-primary .open .dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  .btn-primary fieldset[disabled]:hover,
  .btn-primary fieldset[disabled]:focus,
  .btn-primary fieldset[disabled]:active,
  .btn-primary fieldset[disabled].active {
    background-color: #02afb6;
    border-color: #02afb6; }
  .btn-primary .badge {
    color: #02afb6;
    background-color: white; }
  .btn-primary:hover {
    color: white;
    background-color: #02a0a7;
    border-color: #02afb6; }
    .btn-primary:hover:hover, .btn-primary:hover:focus, .btn-primary:hover:active, .btn-primary:hover.active,
    .btn-primary:hover .open .dropdown-toggle {
      color: white;
      background-color: #017074;
      border-color: #017579; }
    .btn-primary:hover:active, .btn-primary:hover.active,
    .btn-primary:hover .open .dropdown-toggle {
      background-image: none; }
    .btn-primary:hover.disabled:hover, .btn-primary:hover.disabled:focus, .btn-primary:hover.disabled:active, .btn-primary:hover.disabled.active, .btn-primary:hover[disabled]:hover, .btn-primary:hover[disabled]:focus, .btn-primary:hover[disabled]:active, .btn-primary:hover[disabled].active,
    .btn-primary:hover fieldset[disabled]:hover,
    .btn-primary:hover fieldset[disabled]:focus,
    .btn-primary:hover fieldset[disabled]:active,
    .btn-primary:hover fieldset[disabled].active {
      background-color: #02a0a7;
      border-color: #02afb6; }
    .btn-primary:hover .badge {
      color: #02a0a7;
      background-color: white; }
  .btn-primary:active, .btn-primary:focus {
    color: white;
    background-color: #028d93;
    border-color: #02afb6; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active:active, .btn-primary:active.active,
    .btn-primary:active .open .dropdown-toggle, .btn-primary:focus:hover, .btn-primary:focus:focus, .btn-primary:focus:active, .btn-primary:focus.active,
    .btn-primary:focus .open .dropdown-toggle {
      color: white;
      background-color: #015d60;
      border-color: #017579; }
    .btn-primary:active:active, .btn-primary:active.active,
    .btn-primary:active .open .dropdown-toggle, .btn-primary:focus:active, .btn-primary:focus.active,
    .btn-primary:focus .open .dropdown-toggle {
      background-image: none; }
    .btn-primary:active.disabled:hover, .btn-primary:active.disabled:focus, .btn-primary:active.disabled:active, .btn-primary:active.disabled.active, .btn-primary:active[disabled]:hover, .btn-primary:active[disabled]:focus, .btn-primary:active[disabled]:active, .btn-primary:active[disabled].active,
    .btn-primary:active fieldset[disabled]:hover,
    .btn-primary:active fieldset[disabled]:focus,
    .btn-primary:active fieldset[disabled]:active,
    .btn-primary:active fieldset[disabled].active, .btn-primary:focus.disabled:hover, .btn-primary:focus.disabled:focus, .btn-primary:focus.disabled:active, .btn-primary:focus.disabled.active, .btn-primary:focus[disabled]:hover, .btn-primary:focus[disabled]:focus, .btn-primary:focus[disabled]:active, .btn-primary:focus[disabled].active,
    .btn-primary:focus fieldset[disabled]:hover,
    .btn-primary:focus fieldset[disabled]:focus,
    .btn-primary:focus fieldset[disabled]:active,
    .btn-primary:focus fieldset[disabled].active {
      background-color: #028d93;
      border-color: #02afb6; }
    .btn-primary:active .badge, .btn-primary:focus .badge {
      color: #028d93;
      background-color: white; }

.btn-xl {
  color: white;
  background-color: #02afb6;
  border-color: #02afb6;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active,
  .btn-xl .open .dropdown-toggle {
    color: white;
    background-color: #017e84;
    border-color: #017579; }
  .btn-xl:active, .btn-xl.active,
  .btn-xl .open .dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled:active, .btn-xl.disabled.active, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled]:active, .btn-xl[disabled].active,
  .btn-xl fieldset[disabled]:hover,
  .btn-xl fieldset[disabled]:focus,
  .btn-xl fieldset[disabled]:active,
  .btn-xl fieldset[disabled].active {
    background-color: #02afb6;
    border-color: #02afb6; }
  .btn-xl .badge {
    color: #02afb6;
    background-color: white; }

.text-muted {
  color: #111; }

.text-primary {
  color: #02afb6; }

.form label {
  font-weight: 300;
  font-size: 1.8em; }

.navbar-right {
  margin: 0; }

.form-body {
  margin-bottom: 25px; }

.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: white;
  position: relative; }
  .banner .screenshot {
    max-width: 450px;
    margin-bottom: 50px; }
  .banner .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px #000; }
    .banner .intro-text .intro-lead-in {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    .banner .intro-text .intro-heading {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }
      .banner .intro-text .intro-heading span {
        width: 100%; }
  @media (min-width: 768px) {
    .banner .intro-text {
      padding-top: 150px;
      padding-bottom: 50px; }
      .banner .intro-text .intro-lead-in {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px; }
      .banner .intro-text .intro-heading {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 68px;
        line-height: 75px;
        margin-bottom: 50px; } }

section.contact {
  background-color: #111;
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white; }
  section.contact .contact-box {
    padding: 25px; }
  section.contact .section-header {
    color: white; }
  section.contact .form-group {
    margin-bottom: 25px; }
    section.contact .form-group input,
    section.contact .form-group textarea {
      padding: 20px; }
    section.contact .form-group input.form-control {
      height: auto; }
    section.contact .form-group textarea.form-control {
      height: 236px; }
  section.contact .form-control:focus {
    border-color: #02afb6;
    box-shadow: none; }
  section.contact ::-webkit-input-placeholder,
  section.contact :-moz-placeholder,
  section.contact ::-moz-placeholder,
  section.contact :-ms-input-placeholder {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ccc; }

.header {
  background: #02afb6;
  color: #FFF;
  border-bottom: solid 1px #02979d;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050; }
  .header .divider {
    width: 1px;
    margin: 0 4px;
    background: #02979d;
    height: 8px;
    display: inline-block;
    padding: 0; }
  .header .list-inline {
    margin: 0; }
    .header .list-inline > li.static {
      padding: 5px; }
    .header .list-inline > li i {
      color: #FFF; }
    .header .list-inline > li > a {
      padding: 5px;
      color: #FFF;
      display: inline-block; }
      .header .list-inline > li > a:hover {
        text-decoration: none; }
  .header .btn-social {
    padding: 5px 7px !important;
    margin-right: -4px;
    border-right: solid 1px #02979d; }
    .header .btn-social:hover {
      color: #fff; }
      .header .btn-social:hover.btn-social-facebook {
        background: #3b5998; }
      .header .btn-social:hover.btn-social-twitter {
        background: #00aced; }
      .header .btn-social:hover.btn-social-linkedin {
        background: #007bb5; }

.loading {
  position: relative;
  min-height: 150px; }
  .loading:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 0.2857rem;
    z-index: 100;
    display: block; }
  .loading:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -1.5em 0 0 -1.5em;
    width: 3em;
    height: 3em;
    -webkit-animation: loading-spin 0.6s linear;
    animation: loading-spin 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #02afb6 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0 0 0 1px transparent;
    visibility: visible;
    z-index: 101; }

@-webkit-keyframes loading-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.price {
  display: none;
  line-height: 1em;
  margin: 0;
  padding: 10px;
  text-transform: none; }
  .price h4 {
    font-size: 2.5em;
    font-weight: 300; }
  .price p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0; }
  .price:first-child {
    display: block; }

.subscript {
  font-size: 0.5em; }

.cnrflash {
  position: absolute;
  top: -9px;
  right: 4px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 3px 5px 3px 0; }

.cnrflash-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 145px;
  height: 145px;
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  background-color: #02afb6;
  box-shadow: 0 3px 3px 0 rgba(1, 1, 1, 0.5), 0 1px 0 0 rgba(1, 1, 1, 0.5), inset 0 -1px 8px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.2); }

.cnrflash-inner:before,
.cnrflash-inner:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -16px;
  width: 0;
  height: 0;
  border: 8px solid #014e51; }

.cnrflash-inner:before {
  left: 1px;
  border-bottom-color: transparent;
  border-right-color: transparent; }

.cnrflash-inner:after {
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.cnrflash-label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.8);
  font-size: 0.95em;
  font-weight: bold;
  text-align: center; }

.navbar-default {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 15px #666; }
  .navbar-default .navbar-brand {
    color: #111;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Open Sans", Helvetica, Arial, cursive; }
    .navbar-default .navbar-brand.active, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: #111; }
    .navbar-default .navbar-brand .logo {
      display: inline-block;
      height: 30px;
      margin-top: -7px; }
  .navbar-default .navbar-collapse {
    border-color: fade(white, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #02afb6;
    border-color: #02afb6; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #02afb6; }
  .navbar-default .nav > li > a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    height: 50px; }
    @media (max-width: 992px) {
      .navbar-default .nav > li > a {
        padding: 15px 10px; } }
    .navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
      color: #02afb6;
      outline: none; }
  .navbar-default .nav > li.highlight a {
    background: #02afb6;
    border-radius: 0;
    color: #FFF;
    margin-left: 5px; }
  .navbar-default .nav > li.active > a {
    border-radius: 0;
    background: none;
    border-bottom: solid 4px #02afb6; }
    .navbar-default .nav > li.active > a:focus, .navbar-default .nav > li.active > a:hover {
      color: #02afb6;
      background: none; }

.navbar-fixed-top {
  top: 0; }

@media (min-width: 768px) {
  .navbar-fixed-top {
    top: 30px; } }

@media (min-width: 768px) {
  .navbar-default {
    padding: 7px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-default .navbar-brand {
      font-size: 2.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; }
  .navbar-default.animated-header-scroll {
    background-color: #111;
    padding: 10px 0; }
    .navbar-default.animated-header-scroll .navbar-brand {
      font-size: 3em; } }

.pre-footer {
  background: #222;
  color: #fff; }
  .pre-footer p {
    font-size: 1.3em;
    font-weight: 300; }

footer {
  padding: 25px 0; }
  footer span.copyright {
    line-height: 40px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: none; }
  footer ul.social-buttons {
    margin-bottom: 0; }
    footer ul.social-buttons li a {
      display: block;
      background-color: #111;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      footer ul.social-buttons li a:hover.facebook, footer ul.social-buttons li a:focus.facebook, footer ul.social-buttons li a:active.facebook {
        background: #3b5998; }
      footer ul.social-buttons li a:hover.twitter, footer ul.social-buttons li a:focus.twitter, footer ul.social-buttons li a:active.twitter {
        background: #00aced; }
      footer ul.social-buttons li a:hover.linkedin, footer ul.social-buttons li a:focus.linkedin, footer ul.social-buttons li a:active.linkedin {
        background: #007bb5; }

.video-box {
  position: absolute;
  bottom: 10px;
  font-size: 10em;
  text-shadow: 0 0 14px #000;
  left: 50%;
  margin: 0 0 0 -60px;
  color: #fff;
  line-height: 1em; }
  .video-box:active, .video-box:focus, .video-box:hover {
    color: #f3f3f3;
    text-shadow: 0 0 25px #000;
    cursor: pointer; }

section {
  padding: 50px 0; }
  section.section-top {
    padding: 130px 0 0; }
  section.highlight {
    background: #02afb6;
    color: #fff; }
  section.odd {
    background: #f6f6f6; }
  section .section-header {
    text-align: center;
    margin-bottom: 30px; }
    section .section-header span {
      font-size: 1.2em;
      font-weight: 300; }
  section h1,
  section h2 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300; }
  section h3 {
    font-size: 2em;
    font-weight: 300; }

.text-call {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1em; }

.fa-tour-icon {
  font-size: 120px;
  text-align: center; }

@media (max-width: 768px) {
  .navbar-collapse {
    padding: 15px;
    max-height: 450px !important; }
    .navbar-collapse li {
      margin: 2px; } }

.thumbnail-index {
  padding: 40px 5px 20px;
  margin-bottom: 25px; }
  .thumbnail-index .fa {
    font-size: 10em;
    line-height: 1em; }
  .thumbnail-index:hover {
    border-color: #02afb6 !important;
    text-decoration: none; }

.thumbnail-inverse {
  background: #02afb6;
  border: none;
  text-align: center; }
  .thumbnail-inverse .fa.fa-inverse {
    line-height: 1em;
    padding: 25px 0;
    font-size: 10em; }

.navbar-header .navbar-brand {
  padding: 5px;
  margin: 0 !important; }
  .navbar-header .navbar-brand .logo {
    height: 40px !important;
    margin: 0 !important; }
