<div class="banner" style="background-image: url(/assets/img/banner.jpg);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{banner.prephrase}}</div>
      <div class="intro-heading">
        <span class="rotate" data-phrases="{{banner.phrases}}">{{banner.phrases_first}}</span>
      </div>
    </div>
  </div>
</div>
